@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #f7c6d0, #ffffff);
  color: #0b1f3a;
}

a {
  text-decoration: none;
}